*~
buildFiles/CMake/Tools/*
buildFiles/CMake/CMakeFiles/*
buildFiles/CMake/Win32/*
buildFiles/CMake/.vs/*
buildFiles/CMake/MegaMotion.VC.db
game/core/fonts/*
*.uft

game/MegaMotion.exe
game/MegaMotion_DEBUG.exe
game/MegaMotion_DEBUG.ilk
game/MegaMotion_DEBUG.pdb
game/console.log
game/core/prefs.cs
game/scripts/client/prefs.cs
game/scripts/server/banlist.cs
game/scripts/server/prefs.cs
game/tools/settings.xml
