*~
buildFiles/CMake/Tools/*
buildFiles/CMake/CMakeFiles/*
buildFiles/CMake/Win32/*
buildFiles/CMake/.vs/*
buildFiles/CMake/MegaMotion.VC.db
game/core/fonts/*
*.uft

game/MegaMotion.exe
game/MegaMotion_DEBUG.exe
game/MegaMotion_public.exe
game/MegaMotion_public_DEBUG.exe
*.ilk
*.pdb
game/console.log
game/core/prefs.cs
game/scripts/client/prefs.cs
game/scripts/server/banlist.cs
game/scripts/server/prefs.cs
game/tools/settings.xml
game/MegaMotion.db
game/MegaMotion.torsion.opt
game/OpenAL32.*
